<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,1},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>btn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,95},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>btn_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,182},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>btn_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,1},{98,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,92}</string>
			</dict>
			<key>btn_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,181},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>btn_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,150},{31,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,36}</string>
			</dict>
			<key>btn_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{96,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,98}</string>
			</dict>
			<key>btn_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,150},{40,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,42}</string>
			</dict>
			<key>btn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,99},{78,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,81}</string>
			</dict>
			<key>btn_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,171},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>btn_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,101},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>btn_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,1},{94,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,97}</string>
			</dict>
			<key>btn_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,95},{30,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,53}</string>
			</dict>
			<key>btn_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,148},{48,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,37}</string>
			</dict>
			<key>btn_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,100},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>btn_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,181},{25,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,40}</string>
			</dict>
			<key>btn_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,100},{46,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,47}</string>
			</dict>
			<key>btn_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,149},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>btn_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,182},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>btn_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,99},{54,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,49}</string>
			</dict>
			<key>btn_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,1},{95,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,96}</string>
			</dict>
			<key>btn_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,99},{47,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,70}</string>
			</dict>
			<key>ic_nav_calender.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,181},{66,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,60}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>btn.png</string>
			<key>realTextureFileName</key>
			<string>btn.png</string>
			<key>size</key>
			<string>{508,242}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>508</integer>
			<key>height</key>
			<integer>242</integer>
		</dict>
	</dict>
</plist>