<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bns_discoball_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{344,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{344,120}</string>
			</dict>
			<key>bns_discoball_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,0},{344,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{344,120}</string>
			</dict>
			<key>bns_discoball_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,120},{344,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{344,120}</string>
			</dict>
			<key>bns_discoball_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,120},{344,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{344,120}</string>
			</dict>
			<key>bns_discoball_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,240},{344,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{344,120}</string>
			</dict>
			<key>bns_discoball_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,240},{344,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{344,120}</string>
			</dict>
			<key>bns_discoball_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,360},{344,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{344,120}</string>
			</dict>
			<key>bns_discoball_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,360},{344,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{344,120}</string>
			</dict>
			<key>bns_discoball_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,480},{344,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{344,120}</string>
			</dict>
			<key>bns_discoball_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,480},{344,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{344,120}</string>
			</dict>
			<key>bns_discoball_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,600},{344,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{344,120}</string>
			</dict>
			<key>bns_discoball_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,600},{344,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{344,120}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>bns_discoball.png</string>
			<key>realTextureFileName</key>
			<string>bns_discoball.png</string>
			<key>size</key>
			<string>{688,720}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>688</integer>
			<key>height</key>
			<integer>720</integer>
		</dict>
	</dict>
</plist>